.form-elements {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c3cf;
  margin-top: 9px;
  margin-bottom: 16px;
  color: #000;
}
.feature-box-media {
  width: 15vh;
  height: 15vh;
  font-size: 0.9rem;
  line-height: 15px;
}
.box-shadow {
  box-shadow: inset 0px 100px 100px -60px rgba(0, 0, 0, 0.25);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #f0f4f7;
  font-family: 'Helvetica Neue';
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 14px;
}
body {
  background: #f0f4f7;
  font-family: 'Roboto';
  letter-spacing: 1px;
  color: black;
}
h1 {
  color: white;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
p {
  color: black;
}
a {
  color: white;
  text-decoration: none;
}
a:hover,
a:active {
  color: #bb1333;
}
a:visited {
  color: white;
}
.nav-section {
  position: sticky;
  top: 0px;
  background: #13131f;
  border-top: 10px solid #bb1333;
  z-index: 9999;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  background: #13131f;
}
@media (max-width: 800px) {
  nav {
    flex-direction: column;
    height: 200px;
    justify-content: center;
  }
}
nav .logo {
  max-width: 220px;
}
nav .logo img {
  max-width: 220px;
}
@media (max-width: 800px) {
  nav .logo img {
    max-width: 175px;
  }
}
nav .nav-links {
  display: flex;
  margin-right: 45px;
}
@media (max-width: 800px) {
  nav .nav-links {
    margin-right: 0px;
  }
}
nav .nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 100px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 2px;
}
@media (max-width: 800px) {
  nav .nav-links a {
    height: 80px;
    border-radius: 10px;
  }
}
nav .nav-links a:hover {
  background: #1e1e2b;
  transition: 0.4s ease-in-out;
}
#home {
  display: flex;
  border-top: 10px solid #bb1333;
  background: #13131f;
  width: 98%;
  margin: 1%;
}
#home nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin-left: 50%;
}
#home nav a {
  font-family: 'Roboto', sans-serif;
  color: white;
}
#home nav a:hover {
  color: #bb1333;
}
@media (max-width: 800px) {
  #home nav {
    width: 100%;
    margin-left: 0%;
  }
}
@media (max-width: 500px) {
  #home nav {
    width: 100%;
    margin-left: 0%;
  }
  #home nav a {
    font-size: 9px;
  }
}
footer {
  background: #13131f;
  box-shadow: inset 0px 250px 0px -48px #f0f4f7;
}
footer .footer-section {
  display: flex;
  flex: 1;
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 50px 50px 0 0;
  background: #62172b;
}
@media (max-width: 800px) {
  footer .footer-section {
    border-radius: 0px;
  }
}
@media (max-width: 500px) {
  footer .footer-section {
    flex-direction: column-reverse;
  }
}
footer .footer-section .footer-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5%;
  width: 200px;
}
@media (max-width: 500px) {
  footer .footer-section .footer-box {
    width: 100%;
    text-align: center;
  }
}
footer .footer-section .footer-box:nth-of-type(1) {
  border-radius: 50px 0 0;
  background: #521324;
}
@media (max-width: 800px) {
  footer .footer-section .footer-box:nth-of-type(1) {
    border-radius: 0px;
  }
}
@media (max-width: 500px) {
  footer .footer-section .footer-box:nth-of-type(1) ul {
    display: flex;
    font-size: 0.6rem;
    text-transform: uppercase;
  }
}
footer .footer-section .footer-box:nth-of-type(1) ul li {
  display: table-row;
  padding: 1%;
  line-height: 1px;
}
footer .footer-section .footer-box .footer-links img {
  max-width: 40%;
  padding: 2%;
}
footer .footer-section .footer-box .footer-links img:hover {
  padding: 15px;
}
@media (max-width: 500px) {
  footer .footer-section .footer-box .footer-links img {
    max-width: 20%;
  }
}
footer .footer-section .footer-box #list-signup {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c3cf;
  margin-top: 9px;
  margin-bottom: 16px;
  color: #000;
}
footer .footer-section .footer-box #list-submit {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c3cf;
  margin-top: 9px;
  margin-bottom: 16px;
  color: #000;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
}
footer .footer-section .footer-box #list-submit:hover {
  background: #bb1333;
}
footer .footer-section .footer-box h4 {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  footer .footer-section .footer-box h4 {
    font-size: 1rem;
  }
}
footer .footer-section .footer-box a {
  line-height: 30px;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  background: #f0f4f7;
  text-transform: uppercase;
  padding: 20px;
  font-size: 0.7rem;
}
header {
  background: #13131f;
}
header .container {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 50px 50px 0 0;
  border-top: 5px solid #521324;
  height: 430px;
  background: #62172b;
}
@media (max-width: 800px) {
  header .container {
    border-radius: 0px;
  }
}
header .cta-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
@media (max-width: 800px) {
  header .cta-left {
    width: 0px;
  }
}
@media (max-width: 800px) {
  header .cta-left img {
    display: none;
  }
}
header .cta-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
@media (max-width: 800px) {
  header .cta-right {
    width: 100%;
  }
}
header .cta-right .devdesk {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2px;
}
@media (max-width: 800px) {
  header .cta-right .devdesk {
    font-size: 4.6rem;
  }
}
header .cta-right .queue {
  font-size: 6rem;
  font-weight: 100;
}
@media (max-width: 800px) {
  header .cta-right .queue {
    font-size: 7rem;
  }
}
header .cta-right .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  padding: 20px;
  background: #bb1333;
  border-radius: 10px;
  margin-top: 35px;
}
@media (max-width: 800px) {
  header .cta-right .button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
  }
}
header .cta-right .button:hover {
  background: #9e162f;
  color: white;
}
.about {
  box-shadow: inset 0px 100px 100px -60px rgba(0, 0, 0, 0.25);
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}
@media (max-width: 800px) {
  .about .container {
    align-items: center;
    flex-direction: column;
  }
}
.about .container .about-text {
  font-size: 1.5rem;
  font-weight: 200;
  width: 60%;
  padding-right: 10%;
  color: black;
}
@media (max-width: 800px) {
  .about .container .about-text {
    width: 100%;
    padding-right: 0px;
    font-size: 1.3rem;
  }
}
.about .container .about-text p {
  margin-bottom: 20px;
}
.about .container .about-img {
  width: 40%;
  text-align: right;
}
@media (max-width: 800px) {
  .about .container .about-img {
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .about .container .about-img {
    width: 100%;
  }
}
.about .container .about-img img {
  width: 100%;
}
@media (max-width: 500px) {
  .about .container .about-img img {
    padding: 50px 0 50px 0;
  }
}
.feature-section {
  background: #13131f;
}
.feature-section .features {
  margin: 0 auto;
  max-width: 1000px;
  flex-direction: column;
  background: #62172b;
}
.feature-section .features .feature-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.feature-section .features .feature-title h3 {
  font-size: 5rem;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
}
.feature-section .features .feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 0 0 20%;
}
.feature-section .features .feature-container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px 20px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background: #f0f4f7;
}
.feature-section .features .feature-container .box p {
  text-transform: uppercase;
}
.feature-section .features .feature-container .box:hover::before {
  position: absolute;
  display: flex;
  align-items: center;
  filter: opacity(90%);
  height: 20vh;
  width: 20vh;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
  background: #f0f4f7;
}
@media (max-width: 800px) {
  .feature-section .features .feature-container .box:hover::before {
    width: 15vh;
    height: 15vh;
    font-size: 0.9rem;
    line-height: 15px;
  }
}
.feature-section .features .feature-container .box:nth-of-type(1):hover::before {
  content: "With our Help Desk, students are easily able to reach out to one of our highly educated staff members for support on a number of different topics.";
}
.feature-section .features .feature-container .box:nth-of-type(2):hover::before {
  content: "To ensure tickets keep moving along the queue, we keep status visible and up-to-date on the main dashboard.";
}
.feature-section .features .feature-container .box:nth-of-type(3):hover::before {
  content: "Dev Desk Queue always has helpers waiting to help you with your technical issues. With our backlog, no question will go unanswered.";
}
.feature-section .features .feature-container .box:nth-of-type(4):hover::before {
  content: "We help our students find answers they need with our searchable FAQ and Knowledge Base with built in analytics.";
}
.feature-section .features .feature-container .box:nth-of-type(5):hover::before {
  content: "Students are able to view the user manual which demonstrates how to use our help desk more efficiently.";
}
.feature-section .features .feature-container .box:nth-of-type(6):hover::before {
  content: "Lambda School's Dev Desk has a number of well educated staff members waiting for any questions which arise from our curious students.";
}
.feature-section .features .feature-container .box img {
  max-width: 50%;
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 800px) {
  .feature-section .features .feature-container .box {
    width: 20vh;
    height: 20vh;
  }
}
.contact-section {
  background: #f0f4f7;
  padding: 5%;
  box-shadow: inset 0px 100px 100px -60px rgba(0, 0, 0, 0.25);
}
.contact-section .contact {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2%;
}
@media (max-width: 800px) {
  .contact-section .contact {
    flex-direction: column;
  }
}
.contact-section .contact .contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2%;
}
@media (max-width: 800px) {
  .contact-section .contact .contact-right {
    width: 100%;
  }
}
.contact-section .contact .contact-right form {
  width: 80%;
}
@media (max-width: 800px) {
  .contact-section .contact .contact-right form {
    margin: 50px 0 50px 0;
    width: 100%;
  }
}
.contact-section .contact .contact-right form label {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 25px;
}
.contact-section .contact .contact-right form #fname {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c3cf;
  margin-top: 9px;
  margin-bottom: 16px;
  color: #000;
}
.contact-section .contact .contact-right form #lname {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c3cf;
  margin-top: 9px;
  margin-bottom: 16px;
  color: #000;
}
.contact-section .contact .contact-right form #subject {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c3cf;
  margin-top: 9px;
  margin-bottom: 16px;
  color: #000;
}
.contact-section .contact .contact-right form #message {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c3cf;
  margin-top: 9px;
  margin-bottom: 16px;
  color: #000;
  height: 200px;
  resize: none;
}
.contact-section .contact .contact-right form input[type="submit"] {
  width: 150px;
  padding: 10px;
  background: #13131f;
  text-transform: uppercase;
  border: 0px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.contact-section .contact .contact-right form input[type="submit"]:hover {
  background: #bb1333;
}
.contact-section .contact .contact-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 2%;
}
@media (max-width: 800px) {
  .contact-section .contact .contact-left {
    width: 100%;
  }
}
.contact-section .contact .contact-left .contact-text {
  font-size: 6vw;
  color: #000;
  font-weight: 100;
  margin-bottom: 10%;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .contact-section .contact .contact-left .contact-text {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .contact-section .contact .contact-left .contact-text {
    margin-bottom: 20%;
  }
}
.contact-section .contact .contact-left p {
  font-size: 1.5rem;
  font-weight: 100;
  color: #000;
}
.contact-section .contact .contact-left p:nth-of-type(2) {
  margin-top: 20px;
}
@media (max-width: 800px) {
  .contact-section .contact .contact-left p {
    font-size: 1.3rem;
  }
}
