.form-elements {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c3cf;
  margin-top: 9px;
  margin-bottom: 16px;
  color: #000;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #f0f4f7;
  font-family: 'Helvetica Neue';
}
a {
  text-decoration: none;
}
.nav-section {
  border-top: 10px solid #bb1333;
  background: #13131f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: -1;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  height: 170px;
  border-top: 10px solid #bb1333;
  background: #13131f;
  padding: 20px;
}
nav .logo {
  max-width: 220px;
}
nav .logo img {
  max-width: 220px;
}
nav ul {
  display: flex;
}
nav ul a {
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
}
nav ul li {
  display: flex;
  height: 160px;
  width: 100px;
  justify-content: center;
  align-items: center;
}
nav ul li:hover {
  background: #1e1e2b;
}
footer .footer-section {
  display: flex;
  flex: 1;
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 25px 25px 0 0;
  border-top: 10px solid #13131f;
  background: #62172b;
}
footer .footer-section .footer-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5%;
  width: 200px;
}
footer .footer-section .footer-box h4 {
  color: white;
  font-size: 1.5rem;
  line-height: 90px;
  text-transform: uppercase;
  font-weight: 300;
}
footer .footer-section .footer-box p {
  color: white;
  text-decoration: none;
  line-height: 30px;
}
header {
  display: flex;
  max-width: 1000px;
  border-radius: 25px 25px 0 0;
  border-top: 10px solid #bb1333;
  height: 430px;
  margin: 0 auto;
  background: #62172b;
}
header .ctal {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
header .ctar {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
header .ctar .devdesk {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
}
header .ctar .queue {
  font-size: 6.7rem;
  text-transform: uppercase;
  font-weight: 100;
  color: white;
  margin-bottom: 50px;
}
header .ctar a {
  color: white;
}
header .ctar a .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  padding: 20px;
  background: #bb1333;
  border-radius: 10px;
}
header .ctar a .button:hover {
  background: #9e162f;
}
.about {
  max-width: 1000px;
  margin: 0 auto;
}
.about .container {
  display: flex;
  justify-content: space-between;
  background: #f0f4f7;
  padding: 40px;
}
.about .container .about-text {
  font-size: 1.5rem;
  font-weight: 200;
  width: 48%;
}
.about .container .about-text p {
  margin-bottom: 20px;
}
.about .container .about-img {
  width: 48%;
  text-align: right;
}
.about .container .about-img img {
  width: 300px;
}
.feature-section {
  background: #13131f;
}
.feature-section .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  background: #62172b;
}
.feature-section .features .feature-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.feature-section .features .feature-title h3 {
  font-size: 5rem;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
}
.feature-section .features .feature-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 0 5% 20%;
  justify-content: space-around;
}
.feature-section .features .feature-container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 20px;
  width: 250px;
  height: 250px;
  background: #dfdfdf;
}
.feature-section .features .feature-container .box:hover {
  background: #13131f;
  color: white;
  transition: 0.4s ease-in-out;
  background-image: url('../img/shield.png');
  background-size: cover;
}
.contact-section {
  background: #f0f4f7;
  padding: 5%;
}
.contact-section .contact {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2%;
}
.contact-section .contact .contact-right {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.contact-section .contact .contact-right form {
  width: 80%;
}
.contact-section .contact .contact-right form label {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 25px;
}
.contact-section .contact .contact-right form #fname {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c3cf;
  margin-top: 9px;
  margin-bottom: 16px;
  color: #000;
}
.contact-section .contact .contact-right form #lname {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c3cf;
  margin-top: 9px;
  margin-bottom: 16px;
  color: #000;
}
.contact-section .contact .contact-right form #message {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c3cf;
  margin-top: 9px;
  margin-bottom: 16px;
  color: #000;
  height: 200px;
}
.contact-section .contact .contact-right form input[type="submit"] {
  width: 150px;
  padding: 10px;
  background: #13131f;
  text-transform: uppercase;
  border: 0px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.contact-section .contact .contact-right form input[type="submit"]:hover {
  background: #bb1333;
}
.contact-section .contact .contact-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5%;
  justify-content: space-around;
  align-items: center;
}
.contact-section .contact .contact-left .contact-text {
  font-size: 5rem;
  color: #000;
  font-weight: 100;
  text-transform: uppercase;
}
.contact-section .contact .contact-left p {
  font-size: 1.85rem;
  font-weight: 100;
  color: #000;
  margin-bottom: 50px;
}
