footer {
    .footer-section {
        display: flex;
        flex: 1;
        margin: 0 auto;
        max-width: 1000px;
        border-radius: 25px 25px 0 0;
        border-top: 10px solid @header-bg;
        background: @section-bg;

        .footer-box {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 5%;
            width: 200px;

            h4 {
                color:white;
                font-size: 1.5rem;
                line-height: 90px;
                text-transform: uppercase;
                font-weight: 300;
            }

            p{
                color: white;
                text-decoration: none;
                line-height: 30px;
            }
        }
    }
}