header { // MAIN HEADER
    display: flex;
    max-width: 1000px;
    border-radius: 25px 25px 0 0;
    border-top: 10px solid @button-bg;
    height: 430px;
    margin: 0 auto;
    background: @section-bg;

        .ctal { // LEFT SIDE OF HEADER SECTION WITH SHIELD
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
        }

        .ctar { // RIGHT SIDE OF HEADER SECTION WITH DEVDESK QUEUE AND BUTTON
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: center;
            align-items: center;

                .devdesk { // DEVDESK HEADER TEXT
                    font-size: 4rem;
                    text-transform: uppercase;
                    font-weight: 800;
                    color: white;
                }

                .queue { // QUEUE HEADER TEXT
                    font-size: 6.7rem;
                    text-transform: uppercase;
                    font-weight: 100;
                    color: white;
                    margin-bottom: 50px;
                }
                a { // GET STARTED TEXT INSIDE BUTTON
                    color: white;

                        .button { // HEADER CALL TO ACTION BUTTON
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            width: 200px;
                            height: 70px;
                            padding: 20px;
                            background: @button-bg;
                            border-radius: 10px;

                                &:hover {
                                    background: #9e162f;
                                }
                        }

                }
        }
} // HEADER END HERE



.about { // ABOUT SMALL SECTION
    max-width: 1000px;
    margin: 0 auto;

    .container {
        display: flex;
        justify-content: space-between;
        background: @main-bg;
        padding: 40px;

            .about-text {
            font-size: 1.5rem;
            font-weight: 200;
            width: 48%;

            p {
                margin-bottom: 20px;
            }
        }

        .about-img {
            width: 48%;
            text-align: right;

            img {
            width: 300px;
            }
        }
    }
} //END ABOUT

.feature-section { // FEATURES
    background: @header-bg;

    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
        background: @section-bg;

        .feature-title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;

            h3 {
                font-size: 5rem;
                color: #fff;
                font-weight: 100;
                text-transform: uppercase;
            }
        }

        .feature-container {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            padding: 0 5% 20%;
            justify-content: space-around;

            .box {
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                margin: 20px;
                width: 250px;
                height: 250px;
                background: #dfdfdf;

                &:hover {
                    background: @header-bg;
                    color: white;
                    transition: .4s ease-in-out;
                    background-image: url('../img/shield.png');
                    background-size: cover;
                }
            }
        }
    }
} // FEATURES END

.contact-section { // CONTACT SECTION
    background: @main-bg;
    padding: 5%;

    .contact {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        padding: 2%;

            .contact-right { 
                display: flex;
                width: 50%;
                justify-content: center;
                align-items: center;
                padding: 2%;

                form {
                    width: 80%;

                    label {
                        font-size: 1.3rem;
                        font-weight: 300;
                        line-height: 25px;
                    }

                    #fname {
                        .form-elements;
                    }

                    #lname {
                        .form-elements;
                    }

                    #message {
                        .form-elements;
                        height: 200px;
                    }

                    input[type="submit"] {
                        width: 150px;
                        padding: 10px;
                        background: @header-bg;
                        text-transform: uppercase;
                        border: 0px;
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            background: @button-bg;
                        }
                    }
                      
                }
            }

            .contact-left { 
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 5%;
                justify-content: space-around;
                align-items: center;

                    .contact-text { 
                        font-size: 5rem;
                        color: #000;
                        font-weight: 100;
                        text-transform: uppercase;
                    }

                    p {
                        font-size: 1.85rem;
                        font-weight: 100;
                        color: #000;
                        margin-bottom: 50px;
                    }
            }
    } 
}// CONTACT END