header { // MAIN HEADER
    display: flex;
    max-width: 1000px;
    height: 430px;
    margin: 0 auto;
    background: @section-bg;

        .ctal { // LEFT SIDE OF HEADER SECTION WITH SHIELD
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
        }

        .ctar { // RIGHT SIDE OF HEADER SECTION WITH DEVDESK QUEUE AND BUTTON
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: center;
            align-items: center;

                .devdesk { // DEVDESK HEADER TEXT
                    font-size: 4rem;
                    text-transform: uppercase;
                    font-weight: 800;
                    color: white;
                }

                .queue { // QUEUE HEADER TEXT
                    font-size: 6.7rem;
                    text-transform: uppercase;
                    font-weight: 100;
                    color: white;
                    margin-bottom: 50px;
                }
                a { // GET STARTED TEXT INSIDE BUTTON
                    color: white;

                        .button { // HEADER CALL TO ACTION BUTTON
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            width: 200px;
                            height: 70px;
                            padding: 20px;
                            background: @button-bg;

                                &:hover {
                                    background: #9e162f;
                                }
                        }

                }
        }
} // HEADER END HERE



.about { // ABOUT SMALL SECTION
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 40px;

            .about-text {
            font-size: 1.5rem;
            font-weight: 200;
            width: 48%;

            p {
                margin-bottom: 20px;
            }
        }

        .about-img {
            width: 48%;
            text-align: right;

            img {
            width: 300px;
            }
        }
    }
} //END ABOUT

// FEATURES

.feature-section {
    background: @section-bg;

    .features {
        max-width: 1000px;
        margin: 0 auto;

        .feature-title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;

            p {
                font-size: 5rem;
                color: #fff;
                font-weight: 100;
                text-transform: uppercase;
            }
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 600px;
            padding: 10px;

            .box {
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                padding: 10px;
                margin: 20px;
                margin-bottom: 50px;
                width: 250px;
                height: 200px;
                background: #dfdfdf;

                &:hover {
                    background: @header-bg;
                    color: white;
                    transition: .4s ease-in-out;
                    width: 250px;
                    height: 200px;
                    background-image: url('../img/shield.png');
                    background-size: contain;
                }
            }
        }
    }
}
