#home{
	display: flex;
	border-top: 10px solid @button-bg;
	background: @header-bg;
	width: 98%;
	margin: 1%;

	nav{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 50%;
		margin-left: 50%;

		a{
			font-family: @fontTitle;
			color: white;
			&:hover{
				color: @button-bg;
			}
		}
	}
}

@media @tablet {
	#home nav{
		width: 100%;
		margin-left: 0%;
	}
}

@media @mobile {
	#home nav{
		width: 100%;
		margin-left: 0%;

		a{
			font-size: 9px;
		}
	}
}
