// Color assignments
@font-color: #000;
@bright-red: #bb1333;
@light-gray: #f0f4f7;
@black-blue: #13131f;
@dark-red: #62172b;
@gray-blue: #1e1e2b;

// 100 width
@full-width: 100%;

// other variable
@colorA: #171717;

//!Fonts
@fontTitle: 'Roboto', sans-serif;
@fontText: 'Poppins', sans-serif;

// Media Queries
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";
