/*********** GENERAL STYLES HERE *************/
body{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 2;
}
h3, h4 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: black;
  text-align: center;
  padding: 2% 0;
}
section{
  padding: 4% 0;
}
/*********** ABOUT STYLES HERE *************/
#about{
  background-color:  #690217;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about div{
  background-color: #BB1333;
  width: 80%;
}
#about h2{
  color: #ffffff;
}
/*********** SKILLS STYLES HERE *************/
#skills{
  text-align: center;
}
.skillsContainer{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.skillsContainer div{
  width: 20%;

}
#skills p{
  text-align: justify;
}
